@font-face {
  font-family: FreePixel;
  src: url('./freepixel-webfont.woff') format('woff'),
       url('./freepixel-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.nav {
   font-family: FreePixel !important;
   font-weight: bold;
}

.about {
  font-family: FreePixel !important;
}

.evaltable {
  font-size: 12px;
}

.about-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
  opacity: 0.6;
}

.about-logo:hover {
  opacity: 0.8;
}
/*
.main-form {
  display: inline-block;
  width: 47.5%;
  height: 100%;
}

.main-help {
  display: inline-block;
  margin-left: 2.5%;
  float: right;
  width: 47.5%;
  height: 100%;
}*/



.navbar-logo {
  height: auto;
}

.panel-heading {
  font-family: FreePixel !important;
  font-weight: bold;
}

.panel-body {
  font-family: FreePixel !important;
  font-weight: normal !important;
}

.btn {
  font-family: FreePixel !important;
  font-weight: bold !important;
}

.logo {
  display: inline-block;
  width: 200px;
  margin-bottom: 5%;
}

.logo:hover {
  opacity: 0.75;
}

.compgen-logo {
  height: 19px;
}

.navbar {
  margin-right: 15%;
  margin-left: 15%;
}

.active-navbar a {
  color: #FFB600 !important;
}

.panel.noborder {
    border: none;
    box-shadow: none;
}
.panel.noborder > .panel-heading {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0;
}

.panel.noborder > .panel-body {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0;
}

.results {
  /*margin-top: 5%;*/
}

body {
  min-height: 100%;
  background-color: #EAEAEA;
}

html {
  height: 100%;
}



#identifiers {
  min-height: 40px;
  height: 64px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 600px;
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #FFB600;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}


/* TABLE */
tr:hover {
    background-color: #f5f5f5;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #F8F8F8;
}

table {
    border-collapse: collapse;
}

#cyt {
    width: 100%;
    border: 1px solid #ddd;
    height: 65%;
}

.content {
    background-color: white;
    width: 70%;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: none;
}

.plot {
    width: 60%;
}

.prot {
    color: rgb(60, 150, 200);
}

.verb {
    color: rgb(224, 82, 82);
}

.submit:hover {
  background-color: #FFB600;
}

.submit:active {
  background-color: #FFB600 !important;
  opacity: 0.8;
}


.submit {
  float: right;
  width: 150px;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

#cyt {
  width: 100%;
  border: 1px solid #ddd;
  height: 600px;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  width: 200px;
  margin-top: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #FFB600;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}


/* BACK TO TOP THINGS */
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top {
  display: inline-block;
  height: 80px;
  width: 80px;
  background-size: 80px 80px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(./back_to_top.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.evaltable {
  width: 50%;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 80px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 80px;
    width: 80px;
    right: 30px;
    bottom: 65px;
  }
}
/* END OF BACK TO TOP */
