.main-form {
  display: inline-block;
  width: 47.5%;
}

.main-help {
  display: inline-block;
  margin-left: 2.5%;
  float: right;
  width: 47.5%;
}

.navbar-logo {
  height: auto;
}

.logo {
  display: inline-block;
  width: 200px;
  margin-bottom: 5%;
}


.compgen-logo {
  height: 19px;
}

.navbar {
  margin-right: 15%;
  margin-left: 15%;
}

body {
  min-height: 100%;
  background-color: #EAEAEA;
}

html {
  height: 100%;
}



#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}


/* TABLE */
tr:hover {
    background-color: #f5f5f5;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #F8F8F8;
}

table {
    border-collapse: collapse;
}

#cyt {
    width: 100%;
    border: 1px solid #ddd;
    height: 65%;
}

#content {
    background-color: white;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: none;
}

.prot {
    color: rgb(60, 150, 200);
}

.verb {
    color: rgb(224, 82, 82);
}
