<!DOCTYPE html>
<html>
  <head>
    <title>PPaxe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='favicon.ico') }}' />
  </head>
  <body onload="myFunction()" style="margin:0;">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-buttons">
            <li><a href="/">HOME</a></li>
            <li><a href="/tutorial">TUTORIAL</a></li>
            <li><a href="https://github.com/scastlara/ppaxe/archive/master.zip">DOWNLOAD</a></li>
            <li class="active-navbar"><a href="/about">ABOUT</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://compgen.bio.ub.edu">
                <img class="compgen-logo" src="{{ url_for('static', filename='compgen-logo.png') }}"/>
                CompGen
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="loader"></div>
      <div class="content animate-bottom about">
        <div class="row">
          <div class="col-sm-5">
            <p>
              <b>PPaxe</b> was developed at the <a target="_blank" href="https://compgen.bio.ub.edu">Computational Genomics Lab, UB</a>.
              You can find the code of the website <a target="_blank" href="https://github.com/scastlara/ppaxe-app">here</a>, and for <b>PPaxe</b> <a target="_blank" href="https://github.com/scastlara/ppaxe">here</a>.
            </p>
            <p>
            In order to retrieve the interactions, <b>PPaxe</b> uses the <a target="_blank" href="https://stanfordnlp.github.io/CoreNLP/download.html">Stanford CoreNLP</a> for entity recognition
            and a Random Forest Classifier trained to recognize interacting proteins at the Computational Genomics Lab.
            The performance of this predictor (evaluated using the <a target="_blank" href="https://en.wikipedia.org/wiki/Cross-validation_(statistics)#k-fold_cross-validation">10-fold cross validation</a> method) can be seen below:
            </p>
            <br>
            <table class="table evaltable">
              <tbody>
                <tr>
                  <td><b>ACCURACY</b></td>
                  <td>84.48</td>
                </tr>
                <tr>
                  <td><b>PRECISION</b></td>
                  <td>76.50</td>
                </tr>
                <tr>
                  <td><b>RECALL</b></td>
                  <td>58.68</td>
                </tr>
                <tr>
                  <td><b>F1</b></td>
                  <td>66.41</td>
                </tr>
                <tr>
                  <td><b>AUC</b></td>
                  <td>0.92</td>
                </tr>
              </tbody>
            </table>
            <br>
            <br>

          </div> <!-- col1 -->
          <div class="col-sm-2">
          </div>
          <div class="col-sm-5">
            <hr>
            <a href="https://ub.edu" target="_blank">
              <img alt="UB site" class="about-logo" src="{{ url_for('static', filename='ub_logo.png') }}">
            </a>
            <br>
            <br>
            <a href="https://compgen.bio.ub.edu" target="_blank">
              <img alt="CompGen site" class="about-logo" src="{{ url_for('static', filename='compgen-logo-header.png') }}">
            </a>
            <br>
            <br>
            <a href="http://flask.pocoo.org/" target="_blank">
              <img alt="Flask site" class="about-logo" src="{{ url_for('static', filename='flask.png') }}">
            </a>
            <hr>
          </div>

        </div><!-- row -->
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      var myVar;
        function myFunction() {
            myVar = setTimeout(showPage, 0.001);
        }

        function showPage() {
          document.getElementById("loader").style.display = "none";
          $(".content").css('display', 'inline-block');
        }
      </script>

  </body>
</html>
