<!DOCTYPE html>
<html>
  <head>
    <title>PPaxe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='favicon.ico') }}' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40314676-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-40314676-3');
    </script>
  </head>
  <body onload="myFunction()" style="margin:0;">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-buttons">
            <li><a href="{{ url_for('home_form') }}">HOME</a></li>
            <li><a href="{{ url_for('tutorial') }}">TUTORIAL</a></li>
            <li class="active-navbar"><a href="{{ url_for('download') }}">DOWNLOAD</a></li>
            <li><a href="{{ url_for('about') }}">ABOUT</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://compgen.bio.ub.edu">
                <img class="compgen-logo" src="{{ url_for('static', filename='compgen-logo.png') }}"/>
                CompGen
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="loader"></div>
      <div class="content animate-bottom">
        <div class="tutorial-title">PPaxe downloads</div>
        <hr>
        <p class="text-pixel">
          <strong>PPaxe</strong> is available in different formats:
        </p>

        <a href="https://github.com/scastlara/ppaxe/archive/master.zip"><span class="download-btn">PYTHON MODULE</span></a> <span class="text-pixel"> (See install instructions <a target="_blank" href="https://github.com/scastlara/ppaxe/blob/master/README.md#installing">here</a></span>)
        <p class="text-pixel">
          
        </p>
        <a href="https://hub.docker.com/r/compgenlabub/ppaxe/" target="_blank"><span class="download-btn">DOCKER WITH EXECUTABLE</span></a>
        <p class="text-pixel">
          
        </p>
        <a href="https://hub.docker.com/r/compgenlabub/ppaxe-app/" target="_blank"><span class="download-btn">DOCKER WITH WEBAPP</span></a>
        <p class="text-pixel">
          
        </p>

      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      var myVar;
        function myFunction() {
            myVar = setTimeout(showPage, 0.001);
        }

        function showPage() {
          document.getElementById("loader").style.display = "none";
          $(".content").css('display', 'inline-block');
        }
      </script>
  </body>
</html>
