<!DOCTYPE html>
<html>
<head>
  <title>PPaxe</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='favicon.ico') }}' />
</head>
<body onload="myFunction()" style="margin:0;">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav navbar-buttons">
          <li class="active"><a href="/">HOME</a></li>
          <li><a href="/tutorial">TUTORIAL</a></li>
          <li><a href="#">ABOUT</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://compgen.bio.ub.edu">
              <img class="compgen-logo" src="{{ url_for('static', filename='compgen-logo.png') }}"/>
              CompGen
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="loader"></div>
    <div style="display:none;" class="content animate-bottom">
      <a href="/">
        <img class="logo" src="{{ url_for('static', filename='logo.png') }}"/>
      </a>

      <div class="row equal">
          <!-- MAIN FORM -->
          <div class="panel noborder panel-warning col-sm-6">
            <div class="panel-heading">Retrieve interactions from articles</div>
            <div class="panel-body">
              <form id="ppaxeform" action="/" method="post">
              <div class="form-group">
                <label for="identifiers">Pubmed identifiers:</label>
                <textarea class="form-control" rows="5" name="identifiers" id="identifiers"></textarea>
              </div>
              <div class="funkyradio">
                  <div class="funkyradio-warning">
                    <input type="radio" name="database" value="PUBMED" id="db-pubmed" checked/>
                    <label for="db-pubmed">PubMed</label>
                  </div>
                  <div class="funkyradio-warning">
                    <input type="radio" name="database" value="PMC"id="db-pmc"/>
                    <label for="db-pmc">PMC</label>
                  </div>
                    <input type="hidden" name="email" value="" id="email-input"/>
                </div><!--
                    <label class="radio">
                      <input type="radio" name="database" value="PUBMED" checked>PubMed
                    </label>
                    <label class="radio">
                      <input type="radio" name="database" value="PMC">PMC
                    </label>
                  -->
                <br>
              <button type="submit" class="btn btn-default submit">SUBMIT</button>
            </form>
            </div>
          </div>

        <!-- Quick Help-->
          <div class="panel noborder panel-info col-sm-6">
            <div class="panel-heading">Quick Help</div>
            <div class="panel-body">
              <p>
                Look for <b>protein-protein interactions</b> (or genetic interactions) in the scientific literature.
              </p>
              <p>
                Write PubMed identifiers separated by commas (or one in each line),
                select if you want to parse the abstracts (PubMed) or the whole text when available (PMC), and click <b>SUBMIT</b>.
              </p>

                e.g.:
                <ul>
                  <li>25211495, 25196150, 25176653, 25034269, 25029242</li>
                </ul>
                <hr>
              <p>
                For a thorough explanation of how <b>PPaxe</b> works, go to the <a href="/tutorial">tutorial</a>.
                To see how <b>PPaxe</b> retrieves interactions from the literature, refer to the <a href="/tutorial">about</a> section.
              </p>
            </div>
          </div>

    </div> <!--bipanel-->

      <!-- Too many pubmed ids -->
      <div id="dialog-form" title="Create new user">
        <p class="validateTips">This may take some time, do you want us to send your results by e-mail?</p>

        <form>
          <fieldset>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
          </fieldset>
        </form>
      </div>
    </div> <!--content-->

    <div style="display:none;" class="content results animate-bottom">
      <!-- Results -->
      <div class="results">
        {% block body %}
          {% if error %}
            <h3>Invalid PubMed identifiers</h3>
          {% else %}
            {% if nprots != None %}
            <!-- A search -->
              <h1>Results</h1>
              <hr>
                {% if nprots > 0 %}
                  <!-- With protein results -->
                  <!-- Summary table -->
                  {{ sum_table|safe }}

                  {% if nints > 0 %}
                  <!-- With interactions -->
                    <br>
                    <h3>Interactions</h3>
                    <hr>
                    {{ int_table|safe }}
                  {% endif %}

                  <!-- Protein table -->
                  <br>
                  <h3>Proteins</h3>
                  <hr>
                  {{ prot_table|safe }}

                  {% if nints > 0 %}
                  <!-- Graph -->
                    <br>
                    <h3>Graph</h3>
                    <hr>
                    <div id="cyt"></div>
                    <div class="btn btn-default" id="centergraph">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                      Center
                    </div>
                  {% endif %}

                  {% else %}
                    No results
                  {% endif %} <!-- nprots > 0 -->

              {% endif %} <!-- nprots != None -->

              {% endif %} <!-- error -->
        {% endblock %}
      </div>
    </div> <!--content-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% if graph %}<script src="{{ url_for('static', filename='cytoscape_template.js') }}"></script>{% endif %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(document).ready(function(){
    $('#inttable').DataTable({
      "order": [[ 0, "desc" ]]
    });
    $('#prottable').DataTable({
      "order": [[ 1, "desc" ]]
    });
  });
</script>

<script>

$(document).ready(function(){
  var ppaxeform;

  // open dialog to confirm/email
  $( "#dialog-form" ).dialog({
    autoOpen: false,
    height: 400,
    width: 350,
    modal: true,
    buttons: {
      "OK": function() {
        emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
        email = $( "#email" );
        $(this).dialog( "close" );
        $("#email-input").val(email.val());
        ppaxeform.submit();

      },
      Cancel: function() {
        $(this).dialog( "close" );
        ppaxeform.submit();

      }
    },
    close: function() {
      $(this).dialog( "close" );
      ppaxeform.submit();
    }
  });

  $('#ppaxeform').submit(function() {
    ppaxeform = this;
    numidents = $("#identifiers").val().split(/[\n\r,]/);
    numidents = numidents.length;
    document.getElementById("loader").style.display = "inline";
    $(".content").css('display', 'none');
    //document.getElementById("content").style.display = "none";
    if (numidents >= 30) {
      $( "#dialog-form" ).dialog( "open" );
      return false;
    } else {
      ppaxeform.submit();
    }
  });
});

</script>

<script>
var myVar;
  function myFunction() {
      myVar = setTimeout(showPage, 0.001);
  }

  function showPage() {
    document.getElementById("loader").style.display = "none";
    $(".content").css('display', 'inline-block');
    {% if nprots == None  %}
      $(".results").css('display', 'none');
    {% endif %}

    {% if graph %}
      $(document).ready(function(){
        cy.layout( { name: 'cose' } );
      });
    {% endif %}
  }
</script>

{% if graph %}
  <script>
    $(document).ready(function(){
      graphelements = {{ graph|safe }};
      cy.load(graphelements);
      $("#centergraph").on("click", function(){
        cy.fit();
        cy.center();
      });
    });

  </script>


  <script>

  </script>
{% endif %}


</body>
</html>
