<!DOCTYPE html>
<html>
<head>
  <title>PPaxe</title>
  <style>
      p { margin: 0; -pdf-keep-with-next: true; }
      p.separator { -pdf-keep-with-next: false; font-size: 6pt; }
      /*@page {
        size: A4 landscape;
        margin: 2cm;
      }*/

      .small-table {
        width: 500px;
      }


      th, td {
          text-align: left;
          font-size: 8px;
          border: 1px solid #ddd;
          padding: 2px;
      }

      .prot {
          color: rgb(60, 150, 200);
      }

      .verb {
          color: rgb(224, 82, 82);
      }



  </style>
</head>

<body>
    <div class="content">

    <div class="content results animate-bottom">
      <!-- Results -->
      <div class="results">
        {% block body %}
          {% if response['error'] %}
            <h3>Invalid PubMed identifiers</h3>
          {% else %}
            {% if response['nprots'] != None %}
            <!-- A search -->
              <h1>PPaxe Analysis</h1>
              <hr>
              <b>Job identifier: </b> {{ response['job_id'] }}<br>
              <b>Link with job results:</b> <a href="{{ response['URL_BASE'] }}/job/{{ response['job_id'] }}" target="_blank">{{ response['URL_BASE'] }}/job/{{ response['job_id'] }}</a> (this job will be removed in one week)<br>
              <b>Date: </b> {{ response['today'] }}<br>
              <b>Database: </b> {{ response['database'] }}<br>
              <b>PubMed Identifiers: </b> <br>

                {% for ident in identifiers %}
                  <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ ident }}">{{ ident }}</a>{{ "," if not loop.last }}
                {% endfor %}
              <h1>Results</h1>
              <hr>
                {% if response['nprots'] > 0 %}
                  <!-- With protein results -->
                  <!-- Summary table -->
                  <div class="small-table">
                    {{ response['sum_table']|safe }}
                  </div>
                  <pdf:nextpage />
                  {% if response['nints'] > 0 %}
                  <!-- With interactions -->
                    <br>
                    <h3>Retrieved Interactions</h3>
                    <hr>
                    {{ response['int_table']|safe }}
                    <br>
                  {% endif %}
                  <pdf:nextpage />
                  <!-- Protein table -->
                  <br>
                  <h3>Proteins Found</h3>
                  <hr>
                  {{ response['prot_table']|safe }}
                  <br>
                  {% if response['nints'] > 0 %}
                  <pdf:nextpage />
                  <!-- Plots -->
                    <div class="plots">
                      <h3>Reconstructed Interaction Network</h3>
                      <img id="network_plot" class="plot" src="data:image/png;base64,{{ response['plots']['network_plot'] }}"/>
                      <pdf:nextpage />
                      {% if 'plots' in response and 'j_prot_plot' in response['plots'] %}
                        <h3>Journal Summary Plots</h3>
                        <img id="j_prot_plot" class="plot" src="data:image/png;base64,{{ response['plots']['j_prot_plot'] }}"/>
                        <br><pdf:nextpage />
                        <img id="j_int_plot" class="plot"  src="data:image/png;base64,{{ response['plots']['j_int_plot'] }}"/>
                        <br><pdf:nextpage />
                        <img id="a_year_plot" class="plot" src="data:image/png;base64,{{ response['plots']['a_year_plot'] }}"/>
                        <br><pdf:nextpage />
                      {% else %}
                        <p>Journal summary plots not available for only one article.</p>
                      {% endif %}
                    </div>
                  {% endif %}

                  {% else %}
                    No results
                  {% endif %} <!-- nprots > 0 -->

              {% endif %} <!-- nprots != None -->

              {% endif %} <!-- error -->
        {% endblock %}
      </div>
    </div> <!--content-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</body>
</html>
