<!DOCTYPE html>
<html>
  <head>
    <title>PPaxe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='favicon.ico') }}' />
  </head>
  <body onload="myFunction()" style="margin:0;">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-buttons">
            <li><a href="/">HOME</a></li>
            <li class="active-navbar"><a href="/tutorial">TUTORIAL</a></li>
            <li><a href="/download">DOWNLOAD</a></li>
            <li><a href="/about">ABOUT</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://compgen.bio.ub.edu">
                <img class="compgen-logo" src="{{ url_for('static', filename='compgen-logo.png') }}"/>
                CompGen
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="loader"></div>
      <div class="content animate-bottom">
        <div class="tutorial-title">PPaxe tutorial</div>
        <hr>

        <p class="text-pixel">
          <strong>PPaxe</strong> is a tool to retrieve protein-protein and genetic interactions from the scientific literature by analyzing the sentences using the StanfordCoreNLP and classifying co-ocurrent proteins/genes as interacting/non-interacting with a Random Forest Classifier.
        </p>

        <!-- SEARCH FORM -->
        <span class="tutorial-subtitle">Search Form</span>
        <p class="text-pixel">
          <strong>PPaxe</strong> takes a list of <strong>PubMed identifiers</strong> as an input, separated by commas or newline characters. Once the identifiers have been written, the user has to select either PubMed (to look for interactions in the Abstract of the articles) or PubMedCentral (to look for interactions in the full-text article when available on PubMedCentral). Please, note that all the identifiers have to be PubMed identifiers, whether the search is going to be performed on PubMed or PubMedCentral.
        </p>
        <a target="_blank" href="{{ url_for('static', filename='tut1.png') }}">
          <img class="tut-img" width="700px" src="{{ url_for('static', filename='tut1.png') }}">
        </a>

        <p class="text-pixel">
          When searching more than <strong>30 identifiers</strong>, PPaxe will request an e-mail to send the results when available, as the search may take a while. Although the search can still be performed without providing an e-mail, doing so is highly encouraged, as it allows users to close the application and still recieve the results.
        </p>

        <a target="_blank" href="{{ url_for('static', filename='tut2.png') }}">
          <img class="tut-img" width="700px" src="{{ url_for('static', filename='tut2.png') }}">
        </a>
        <hr>

        <!-- RESULTS -->
        <span class="tutorial-subtitle">Results</span>

        <p class="text-pixel">
          Once the search has been performed, the results will be displayed at the bottom of the page. A small summary table and an option to download the report as a PDF will appear at the top of the results section.
        </p>
        <a target="_blank" href="{{ url_for('static', filename='tut3.png') }}">
          <img class="tut-img" width="250px" src="{{ url_for('static', filename='tut3.png') }}">
        </a>

        <p class="text-pixel">
          The Interactions found on the requested articles will be displayed on the "Interactions" table. This table includes a confidence value (which ranges from 0.5 to 1), the names of the proteins/genes, the PubMed identifier of the article, the publication year, and the sentence from which the interaction was retrieved (with the proteins displayed in blue, and the verbs in red). The table can be downloaded by clicking on the 'Download table' button.
        </p>
        <a target="_blank" href="{{ url_for('static', filename='tut4.png') }}">
          <img class="tut-img" width="1000px" src="{{ url_for('static', filename='tut4.png') }}">
        </a>





      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      var myVar;
        function myFunction() {
            myVar = setTimeout(showPage, 0.001);
        }

        function showPage() {
          document.getElementById("loader").style.display = "none";
          $(".content").css('display', 'inline-block');
        }
      </script>
  </body>
</html>
